[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
polars = "*"
pandas = "*"
duckdb = "*"
pyarrow = "*"
seaborn = "*"
numpy = "*"
dbt-duckdb = "*"
dbt-core = "*"
requests = "*"
httpx = "*"
asyncio = "*"
psutil = "*"
sympy = "*"
bs4 = "*"
prefect = "==3.8.7"

[dev-packages]

[requires]
python_version = "3.13"
