[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
polars = "*"
pandas = "*"
duckdb = "*"
pyarrow = "*"
seaborn = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.12"
